p
	{color:grey;}

h
	{color:green}
copyright
	{color:grey;
	font-size:10px;
	
}

.img-container { 
	background-size: cover; 
	width: auto; 
	height: auto; 
	overflow: hidden; 
	background-color: #F50000; 
	text-align: center; 
} 
.img-container img { 
	height: 100%; 
	width: 100%; 
}